In [4]:
%reset -f

In [5]:
import pandas as pd
from library import lieferando as lf

In [6]:
df_real_estate = pd.read_csv("20200123_apts_buy_berlin_v0.4_CB.csv", sep=";")

In [7]:
df_postcode = df_real_estate.drop_duplicates(subset="postcode")

In [8]:
len(df_postcode)

189

## Scrapping Amount of Restaurants per Postcode

In [9]:
df_n_restaurant = lf.get_n_restaurant(list(df_postcode["postcode"]))

189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
erro!
28
27
26
25
24
23
22
21
20
erro!
18
17
16
15
14
13
erro!
11
10
9
8
erro!
erro!
5
4
erro!
2
erro!

In [10]:
df_n_restaurant

     postcode  n_restaurant
0       10965           261
1       10711           220
2       10961           237
3       10119           350
4       10709           253
..        ...           ...
177     12309            61
178     13505            33
179     12679            57
180     12683            66
181     10369           121

[182 rows x 2 columns]

In [11]:
df_n_restaurant.to_csv("n_restaurant.csv")