## Scrapping Amount of Restaurants per Postcode

In [1]:
%reset -f
#%install_ext https://raw.github.com/cpcloud/ipython-autotime/master/autotime.py

In [2]:
from library import lieferando_AG as lfag
from library import lieferando as lf

In [3]:
postcode_list = [10999, 10179, 10178, 10965, 10115, 10117, 10119,10435, 10243, 12524, 10245, 10999, 10178, 12437, 10315]

In [4]:
df_n_restaurant_ag = lfag.get_n_restaurant(postcode_list)

C:\Users\Work\Anaconda3\envs\code_red\lib\site-packages\selenium\webdriver\phantomjs\webdriver.py:49: UserWarning: Selenium support for PhantomJS has been deprecated, please use headless versions of Chrome or Firefox instead
  warnings.warn('Selenium support for PhantomJS has been deprecated, please use headless '

['305']
[{'postcode': 10999, 'n_restaurant': 305}]
['351']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}]
['357']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}, {'postcode': 10178, 'n_restaurant': 357}]
['261']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 10965, 'n_restaurant': 261}]
['334']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 10965, 'n_restaurant': 261}, {'postcode': 10115, 'n_restaurant': 334}]
['325']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 10965, 'n_restaurant': 261}, {'postcode': 10115, 'n_restaurant': 334}, {'postcode': 10117, 'n_restaurant': 325}]
['351']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 10965, 'n_restaurant': 261}, {'postcode': 10115, 'n_restaurant': 334}, {'postcode': 10117, 'n_restaurant': 325}, {'postcode': 10119, 'n_restaurant': 351}]
['350']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 10965, 'n_restaurant': 261}, {'postcode': 10115, 'n_restaurant': 334}, {'postcode': 10117, 'n_restaurant': 325}, {'postcode': 10119, 'n_restaurant': 351}, {'postcode': 10435, 'n_restaurant': 350}]
['373']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 10965, 'n_restaurant': 261}, {'postcode': 10115, 'n_restaurant': 334}, {'postcode': 10117, 'n_restaurant': 325}, {'postcode': 10119, 'n_restaurant': 351}, {'postcode': 10435, 'n_restaurant': 350}, {'postcode': 10243, 'n_restaurant': 373}]
['59']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 10965, 'n_restaurant': 261}, {'postcode': 10115, 'n_restaurant': 334}, {'postcode': 10117, 'n_restaurant': 325}, {'postcode': 10119, 'n_restaurant': 351}, {'postcode': 10435, 'n_restaurant': 350}, {'postcode': 10243, 'n_restaurant': 373}, {'postcode': 12524, 'n_restaurant': 59}]
['289']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 10965, 'n_restaurant': 261}, {'postcode': 10115, 'n_restaurant': 334}, {'postcode': 10117, 'n_restaurant': 325}, {'postcode': 10119, 'n_restaurant': 351}, {'postcode': 10435, 'n_restaurant': 350}, {'postcode': 10243, 'n_restaurant': 373}, {'postcode': 12524, 'n_restaurant': 59}, {'postcode': 10245, 'n_restaurant': 289}]
['305']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 10965, 'n_restaurant': 261}, {'postcode': 10115, 'n_restaurant': 334}, {'postcode': 10117, 'n_restaurant': 325}, {'postcode': 10119, 'n_restaurant': 351}, {'postcode': 10435, 'n_restaurant': 350}, {'postcode': 10243, 'n_restaurant': 373}, {'postcode': 12524, 'n_restaurant': 59}, {'postcode': 10245, 'n_restaurant': 289}, {'postcode': 10999, 'n_restaurant': 305}]
['357']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 10965, 'n_restaurant': 261}, {'postcode': 10115, 'n_restaurant': 334}, {'postcode': 10117, 'n_restaurant': 325}, {'postcode': 10119, 'n_restaurant': 351}, {'postcode': 10435, 'n_restaurant': 350}, {'postcode': 10243, 'n_restaurant': 373}, {'postcode': 12524, 'n_restaurant': 59}, {'postcode': 10245, 'n_restaurant': 289}, {'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10178, 'n_restaurant': 357}]
['86']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 10965, 'n_restaurant': 261}, {'postcode': 10115, 'n_restaurant': 334}, {'postcode': 10117, 'n_restaurant': 325}, {'postcode': 10119, 'n_restaurant': 351}, {'postcode': 10435, 'n_restaurant': 350}, {'postcode': 10243, 'n_restaurant': 373}, {'postcode': 12524, 'n_restaurant': 59}, {'postcode': 10245, 'n_restaurant': 289}, {'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 12437, 'n_restaurant': 86}]
['89']
[{'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10179, 'n_restaurant': 351}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 10965, 'n_restaurant': 261}, {'postcode': 10115, 'n_restaurant': 334}, {'postcode': 10117, 'n_restaurant': 325}, {'postcode': 10119, 'n_restaurant': 351}, {'postcode': 10435, 'n_restaurant': 350}, {'postcode': 10243, 'n_restaurant': 373}, {'postcode': 12524, 'n_restaurant': 59}, {'postcode': 10245, 'n_restaurant': 289}, {'postcode': 10999, 'n_restaurant': 305}, {'postcode': 10178, 'n_restaurant': 357}, {'postcode': 12437, 'n_restaurant': 86}, {'postcode': 10315, 'n_restaurant': 89}]

In [5]:
df_n_restaurant = lf.get_n_restaurant(postcode_list)

In [6]:
df_n_restaurant_ag.head(5)

   postcode  n_restaurant
0     10999           305
1     10179           351
2     10178           357
3     10965           261
4     10115           334

In [13]:
df_n_restaurant == df_n_restaurant_ag

    postcode  n_restaurant
0       True          True
1       True          True
2       True          True
3       True          True
4       True          True
5       True          True
6       True          True
7       True          True
8       True          True
9       True          True
10      True          True
11      True          True
12      True          True
13      True          True
14      True          True

In [8]:
#%reset -f

In [9]:
#from library import lieferando_AG as lf

In [10]:
#postcode_list = [10176,10177,10178,10179]

In [11]:
#teste = lf.get_restaurant_data(postcode_list)

In [12]:
#teste