In [33]:
import lieferando as lf

In [34]:
postcodes = [10999]

In [35]:
lf.get_n_restaurant(postcodes.copy())

   postcode  n_restaurant
0     10999           305