In [1]:
%reset -f

In [2]:
import pandas as pd
from library import lieferando as lf

In [4]:
df_real_estate = pd.read_csv("20200123_apts_buy_berlin_v0.4_CB.csv", sep=";")

In [5]:
df_n_restaurant = pd.read_csv("n_restaurant.csv")

In [15]:
# Merge main dataframe with activity cleaned
df_real_estate_n_rest = pd.merge(df_real_estate, df_n_restaurant[["postcode","n_restaurant"]], how="left", on="postcode")

In [19]:
df_real_estate_n_rest

,Unnamed: 0,id,title,city,quarter,postcode,street,houseNo,price,qm,n_room,latitude,longitude,privateOffer,marketingType,hasCourtage,n_page_is24,price_per_qm,n_restaurant
0,0,114366270,Altersgerechtes Wohnen im Viktoria Quartier! 2...,Berlin,Kreuzberg (Kreuzberg),10965,NaN,NaN,398000.0,66.00,2.0,NaN,NaN,False,PURCHASE,YES,1,6030.3,261.0
1,1,115294582,EXKLUSIVE NEUBAU-WOHNUNG \nIN RUHIGER KU´DAMM-...,Berlin,Wilmersdorf (Wilmersdorf),10711,NaN,NaN,770000.0,96.59,3.0,NaN,NaN,False,PURCHASE,YES,1,7971.8,220.0
2,2,114579519,Wohnen am Bergmannkiez: Moderne 2-Zimmer-Wohnu...,Berlin,Kreuzberg (Kreuzberg),10961,Baruther Straße,5,352000.0,61.80,2.0,52.49401,13.38979,False,PURCHASE,NO,1,5695.8,237.0
3,3,114579517,Wohnen im Neubau: Moderne 2-Zimmer-Wohnung mit...,Berlin,Kreuzberg (Kreuzberg),10961,Baruther Straße,5,407000.0,51.42,2.0,52.49401,13.38979,False,PURCHASE,NO,1,7915.2,237.0
4,4,114579516,Großes Schlafzimmer und Loggia: Gemütliche 2-Z...,Berlin,Kreuzberg (Kreuzberg),10961,Baruther Straße,5,410000.0,59.34,2.0,52.49401,13.38979,False,PURCHASE,NO,1,6909.3,237.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6750,6750,65847901,Penthouse-Wohnung auf historischem Altbau!,Berlin,Schöneberg (Schöneberg),10852,Heylstrasse,29,580000.0,213.00,5.0,NaN,NaN,False,PURCHASE,YES,338,2723.0,NaN
6751,6751,57228501,Schöne moderne Eigentumswohnung mit Balkon ***...,Berlin,Heiligensee (Reinickendorf),13503,NaN,NaN,349000.0,66.00,2.0,NaN,NaN,True,PURCHASE,NO,338,5287.9,41.0
6752,6752,51875348,"Schöne, ruhige und helle 2 Zimmer Wohnung für ...",Berlin,Reinickendorf (Reinickendorf),13407,NaN,NaN,130000.0,60.00,2.0,NaN,NaN,True,PURCHASE,NO,338,2166.7,120.0
6753,6753,48238869,"City Loft , nähe Friedrichshain , KEINE MAKLER...",Berlin,Lichtenberg (Lichtenberg),10365,Siegfriedstr.,204,599000.0,125.00,2.0,52.51461,13.49685,True,PURCHASE,NO,338,4792.0,114.0
6754,6754,41382802,Berlin Regierungsviertel: Luxuriöse Wohnung mi...,Berlin,Mitte (Mitte),10117,Hannover'sche Straße,20,479000.0,48.40,2.5,52.52758,13.38031,True,PURCHASE,NO,338,9896.7,325.0

In [24]:
df_n_restaurant.to_csv("20200124_merged_data.csv")