## Scrapping Amount of Restaurants per Postcode

In [8]:
%reset -f

In [9]:
from library import lieferando as lf

In [10]:
postcode_list = [10176,10177,10178,10179]

In [11]:
df_n_restaurant = lf.get_n_restaurant(postcode_list.copy())

In [12]:
df_n_restaurant

   postcode  n_restaurant
0     10178           356
1     10179           351

## Scrapping other informations from lieferando.de

In [1]:
%reset -f

In [2]:
from library import lieferando as lf

In [3]:
postcode_list = [10176,10177,10178,10179]

In [4]:
teste = lf.get_restaurant_data(postcode_list)

In [5]:
teste

,postcode,name,stars,ratings,min_price,categories,latitude,longitude
0,10178,Boongsushi,10,13,15,"[Sushi, Japanese, Seafood]",52.5166155,13.4637902
1,10178,Sushi For You,8,33,7,"[Sushi, Japanese, Asian]",52.5067624,13.4137248
2,10178,Schmuck's Restauration,9,16,10,"[German, German dishes, Salads]",52.5120669,13.4168464
3,10178,Besh,9,6,10,"[Vegetarian, Arab, Poke bowl]",52.511513,13.416606
4,10178,Izumi Restaurant Sushi Bar,8,953,25,[Sushi],52.5111789,13.3886504
...,...,...,...,...,...,...,...,...
702,10179,Citronella - Juice & Smoothie Bar,7,5,10,"[Bio, Drinks/Snacks, Sandwiches]",52.5008242,13.4397047
703,10179,Haweli Indisches Restaurant,7,124,45,"[Indian, Chicken, Curry]",52.4471319,13.625489
704,10179,Kiyano Pizzeria,7,63,10,"[Italian style pizza, Desserts, Ice cream]",52.5242979,13.4177983
705,10179,La Baraca,6,47,12,"[Chicken, Balkans, Homemade]",52.5077221,13.4542457
706,10179,Black Sandwich and More,0,0,10,"[Vegetarian, Burgers, Sandwiches]",52.4997045,13.4170335