In [1]:
import pandas as pd
import numpy as np
import re


pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [2]:
sha = pd.read_csv("GSAF5.csv", sep =",", encoding = "ISO-8859-1")

# 0 Copy dataset in order to clean it

In [3]:
sha_clean = sha.copy()

# 1 First Look at the dataset

In [4]:
sha_clean.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,NaN,Shark rammed boat. No injury to occupant,N,NaN,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,60s,Minor injury to arm,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,51,Severe lacerations to shoulder & forearm,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,50,FATAL,Y,15h40,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,12,Lacerations & punctures to lower right leg,N,Late afternoon,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984,NaN,NaN

# 2 Check the number of rows and columns, get an overview

In [5]:
sha_clean.describe()# Result: Only two columns contain numerical values

              Year  original order
count  5992.000000     5992.000000
mean   1925.204606     2997.548899
std     286.473712     1729.860210
min       0.000000        2.000000
25%    1942.000000     1499.750000
50%    1975.000000     2997.500000
75%    2003.000000     4495.250000
max    2016.000000     5993.000000

In [6]:
sha_clean.shape # The datasat has 5992 rows and 24 columns)

(5992, 24)

In [7]:
sha_clean.shape[0] # Number of Rows

5992

# 3 Check for empty and not-useful columns

In [8]:
(sha_clean.shape[0]-sha_clean.count()) # Number of NaNs per column

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [9]:
((sha_clean.shape[0] - sha_clean.count())/sha_clean.shape[0])*100 # Number of NaNs per column, in percentage

Case Number                0.000000
Date                       0.000000
Year                       0.000000
Type                       0.000000
Country                    0.717623
Area                       6.708945
Location                   8.277704
Activity                   8.795060
Name                       3.337784
Sex                        9.462617
Age                       44.742991
Injury                     0.450601
Fatal (Y/N)                0.317089
Time                      53.621495
Species                   48.965287
Investigator or Source     0.250334
pdf                        0.000000
href formula               0.016689
href                       0.050067
Case Number.1              0.000000
Case Number.2              0.000000
original order             0.000000
Unnamed: 22               99.983311
Unnamed: 23               99.966622
dtype: float64

Result: The Columns "Unnamed: 22" and "Unnamed: 23" can be dropped since they are almost completely empty. Age, Time and Species are just half filled, but the information in these columns can be valuable, hence they are kept

## 3.1 Dropping empty columns

In [10]:
sha_clean.drop(["Unnamed: 22", "Unnamed: 23"], axis = 1, inplace = True)

## 3.2 Dropping non-useful columns

### 3.2.1 The column "original order" just counts the number of incidents. Since the incidents are ordered by date, this column contains the same value as the index of the row and can be dropped

In [11]:
sha_clean["original order"].tail(20)

5972    21
5973    20
5974    19
5975    18
5976    17
5977    16
5978    15
5979    14
5980    13
5981    12
5982    11
5983    10
5984     9
5985     8
5986     7
5987     6
5988     5
5989     4
5990     3
5991     2
Name: original order, dtype: int64

In [12]:
sha_clean.drop(["original order"], axis = 1, inplace = True)

### 3.2.2 Case Number.1 and Case Number.2

A first look tells, that the columns "Case Number.1" and "Case Number.2" contains very often the exact same information compared as the column "Case Number":

In [13]:
sha_clean[["Case Number", "Case Number.1", "Case Number.2" ]].head(10)

    Case Number Case Number.1 Case Number.2
0  2016.09.18.c  2016.09.18.c  2016.09.18.c
1  2016.09.18.b  2016.09.18.b  2016.09.18.b
2  2016.09.18.a  2016.09.18.a  2016.09.18.a
3    2016.09.17    2016.09.17    2016.09.17
4    2016.09.15    2016.09.16    2016.09.15
5  2016.09.15.R  2016.09.15.R  2016.09.15.R
6    2016.09.11    2016.09.11    2016.09.11
7    2016.09.07    2016.09.07    2016.09.07
8    2016.09.06    2016.09.06    2016.09.06
9  2016.09.05.b  2016.09.05.b  2016.09.05.b

In [14]:
sha_clean_case_number_equal1 = sha_clean["Case Number"] != sha_clean["Case Number.1"]
sha_clean_case_number_equal2 = sha_clean["Case Number"] != sha_clean["Case Number.2"]

In [15]:
sha_clean[sha_clean_case_number_equal1].shape[0]#

13

in Just 13 rows, "Case Number" and "Case Number.1" differ => the column can be dropped

In [16]:
sha_clean.drop(["Case Number.1"], axis = 1, inplace = True)

In [17]:
sha_clean[sha_clean_case_number_equal2].shape[0]

2

in Just 2 rows, "Case Number" and "Case Number.2" differ => the column can be dropped

In [18]:
sha_clean.drop(["Case Number.2"], axis = 1, inplace = True)

### 3.2.3 Additional, but not evaluable information in columns "pdf", "href formula", "href" and "name"

Since only links to additional information is provided in these 3 columns, they can be dropped as well. The useful information isn't lost, since we drop these columns only in the clean DataFrame, which is a copy of the original one

In [19]:
sha_clean.drop(["pdf", "href formula", "href", "Name"], axis = 1, inplace = True)

In [20]:
sha_clean.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016"
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016"

# 4 Renaming columns: "Sex " to "Sex", "Species " to "Species"

In [21]:
sha_clean.rename(columns = {"Sex ": "Sex", "Species ": "Species"}, inplace = True)

In [22]:
sha_clean[["Sex"]].groupby("Sex").size()

Sex
.         1
F       585
M      4835
M         2
N         1
lli       1
dtype: int64

# 5 Aggregating associated values

## 5.1 For column "Type"

In [23]:
sha_clean[["Type"]].groupby("Type").size()

Type
Boat             200
Boating          110
Invalid          519
Provoked         557
Sea Disaster     220
Unprovoked      4386
dtype: int64

The Types Boat and Boating can be combined

In [24]:
sha_clean["Type"].where(sha_clean["Type"] != "Boating", "Boat", inplace = True)

In [25]:
sha_clean[["Type"]].groupby("Type").size()

Type
Boat             310
Invalid          519
Provoked         557
Sea Disaster     220
Unprovoked      4386
dtype: int64

## 5.2 For column "Fatal"

In [26]:
sha_clean[["Fatal (Y/N)"]].groupby("Fatal (Y/N)").size()

Fatal (Y/N)
 N            8
#VALUE!       1
F             1
N          4315
N             1
UNKNOWN      94
Y          1552
n             1
dtype: int64

In [27]:
rename_list_n =["F", "n", " N", "N "]
for element in rename_list_n:
    sha_clean["Fatal (Y/N)"].where(sha_clean["Fatal (Y/N)"] != element, "N", inplace = True)
    
sha_clean["Fatal (Y/N)"].where(sha_clean["Fatal (Y/N)"] != "#VALUE!", "UNKNOWN", inplace = True)

In [28]:
sha_clean[["Fatal (Y/N)"]].groupby("Fatal (Y/N)").size()

Fatal (Y/N)
N          4326
UNKNOWN      95
Y          1552
dtype: int64

In [29]:
sha_clean.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016"
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016"
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,NaN,NaN,Shark rammed boat. No injury to occupant,N,NaN,NaN,"West Australian, 9/15/2016"
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,M,60s,Minor injury to arm,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016"
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,F,51,Severe lacerations to shoulder & forearm,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016"
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,M,50,FATAL,Y,15h40,NaN,"TVANouvelles, 9/6/2016"
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,F,12,Lacerations & punctures to lower right leg,N,Late afternoon,NaN,"C. Creswell, GSAF"

## 5.3 Compare Case Number, Date and Year

In [30]:
sha_clean.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016"
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016"
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,NaN,NaN,Shark rammed boat. No injury to occupant,N,NaN,NaN,"West Australian, 9/15/2016"
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,M,60s,Minor injury to arm,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016"
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,F,51,Severe lacerations to shoulder & forearm,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016"
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,M,50,FATAL,Y,15h40,NaN,"TVANouvelles, 9/6/2016"
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,F,12,Lacerations & punctures to lower right leg,N,Late afternoon,NaN,"C. Creswell, GSAF"

The columns Case Number, Date and Year contain similar information, if Case Number is cleaned up.

In [31]:
sha_clean["Case Number"] = sha_clean["Case Number"].str.replace("\D*\Z", "", regex = True) # deleting the character for multiple events on the same day
sha_clean["Case Number"] = sha_clean["Case Number"].str.replace("(N|n).*", "", regex = True)# deleting non-date events
sha_clean["Case Number"] = sha_clean["Case Number"].str.replace(".*?(?=\d{4}\Z)", "", regex = True)

In [32]:
sha_clean.tail(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
5982,,Circa 1862,0,Unprovoked,USA,Hawaii,Puna,NaN,F,NaN,Ankle bitten,N,NaN,NaN,Captain W. Young
5983,,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui..."
5984,,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,M,NaN,FATAL,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui..."
5985,,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,M,NaN,FATAL,Y,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui..."
5986,,Before 1906,0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,M,NaN,FATAL,Y,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz..."
5987,,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
5988,,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
5989,,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
5990,,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938"
5991,,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker

Replace the due to unreadable values empty rows in column Case Number with nan

In [33]:
sha_clean[["Case Number"]] = sha_clean[["Case Number"]].replace(r"^\s*$", np.nan, regex = True)

Now, the columns Date and Year can be dropped and "Case Number" can be renamed into date, since it contains exactly that

In [34]:
sha_clean.drop(["Date", "Year"], axis = 1, inplace = True)

In [35]:
sha_clean.rename(columns = {"Case Number": "Date"}, inplace = True)

In [36]:
sha_clean.head(10)

,Date,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,2016.09.18,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,2016.09.18,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,2016.09.18,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
3,2016.09.17,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016"
4,2016.09.15,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016"
5,2016.09.15,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,NaN,NaN,Shark rammed boat. No injury to occupant,N,NaN,NaN,"West Australian, 9/15/2016"
6,2016.09.11,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,M,60s,Minor injury to arm,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016"
7,2016.09.07,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,F,51,Severe lacerations to shoulder & forearm,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016"
8,2016.09.06,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,M,50,FATAL,Y,15h40,NaN,"TVANouvelles, 9/6/2016"
9,2016.09.05,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,F,12,Lacerations & punctures to lower right leg,N,Late afternoon,NaN,"C. Creswell, GSAF"

In [37]:
sha_clean.to_csv("sharkattack_clean.csv",index=False)

In [38]:
sha_clean_test = pd.read_csv("sharkattack_clean.csv", sep =",", encoding = "ISO-8859-1")

In [39]:
sha_clean_test.head()

,Date,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,2016.09.18,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,2016.09.18,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,2016.09.18,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
3,2016.09.17,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016"
4,2016.09.15,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016"